<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>

<script>
var x = document.getElementById("home");
x.className = "active";
</script>

<!--  ############################# End of Header ###########################################-->
<!-- Home page info : about us -->
<br><br>

<div class="w3-container">
<div class="well"><h1 align="center">Welcome Prof.Chu</h1></div>

</div>
<br><br>
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:600px;width:1000px;margin-left:200px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/images/rc.jpg" alt="Resource Center" style="height:600px;width:1000px;">
    </div>

    <div class="item">
      <img src="/images/hor.jpg" alt="HOR Men" style="height:600px;width:1000px;">
    </div>

    <div class="item">
      <img src="/images/books.jpg" alt="RC Books" style="height:600px;width:1000px;">
    </div>

    <div class="item">
      <img src="/images/lecture.jpg" alt="Lecture" style="height:600px;width:1000px;">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>	
<br><br>

<!--  End of Home page  -->

<% include Footer.ejs %>

</body>
</html>
