<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>

<link rel="stylesheet" href="/css/component.css" />
		<link rel="stylesheet"  href="/css/demo.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
window.onload = function() {
		var fileInput = document.getElementById('fileInput');
    var Id = document.getElementById('submit');
    
		var fileDisplayArea = document.getElementById('fileDisplayArea');
    var data = "";
		Id.addEventListener('click', function(e) {
      var pageURL = $(location).attr("href");
      console.log(pageURL);
			var file = fileInput.files[0];
			var textType = /text.*/;

			if (file.type.match(textType)) {
				var reader = new FileReader();

				reader.onload = function(e) {
          this.data = reader.result;
          // console.log(reader);
          var text = [];
          for (i = 0; i < reader.result.length; i++) {
            text[i] = reader.result;
          }
          var lines = reader.result.split(",");
          $.post(pageURL,{line:lines});
				}
				reader.readAsText(file);
			} else {
				fileDisplayArea.innerText = "File not supported!"
			}
		});
  }

</script>
</head>

<body>
<% include StudentNavbar.ejs %>

<script>
var x = document.getElementById("uploadmarks");
x.className = "active";
</script>

<div class="container">
			<div class="content">

				<div class="box">
          <form id="uploadForm" enctype="multipart/form-data">
					<input type="file" id="fileInput" name="getfile" class="inputfile inputfile-4 hidden" style="margin-left:275px" / >
					<label for="fileInput"><figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg></figure> <span>Choose a file&hellip;</span>
					</label>
          <br>
          <p id="uploaded"></p>
          <input class="w3-btn w3-grey w3-border w3-border-black w3-round-xlarge" type="submit" value="Submit" id="submit">
          </form>
        </div>
			</div>
		</div><!-- /container -->


<% include Footer.ejs %>



</body>
</html>
