<!DOCTYPE html>
<html>
<head>
  <title>Professor Home</title>
<% include Head.ejs %>
<!-- including the header information -->
</head>

<body>
<% include Navbar.ejs %>
<!-- including the navigation bar -->

<!-- script to make the current tab active -->
<script>
var x = document.getElementById("home");
x.className = "active";
</script>


<br>
<br>
<!-- home page professor -->
<!-- <div class="w3-container">
<div class="well"><h1 align="center">Welcome Professor</h1></div>

</div> -->

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:600px;width:1250px;margin-left:50px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/images/rc.jpg" alt="Resource Center" style="height:600px;width:1300px;">
       <div class="carousel-caption">
        <h2>Welcome <%= data %></h2>
        <p></p>
      </div>
    </div>

    <div class="item">
      <img src="/images/books.jpg" alt="RC Books" style="height:600px;width:1250px;">
      <div class="carousel-caption">
       <h2>Welcome <%= data %></h2>
       <p></p>
     </div>
    </div>

    <div class="item">
      <img src="/images/lecture.jpg" alt="Lecture" style="height:600px;width:1250px;">
      <div class="carousel-caption">
       <h2>Welcome <%= data %></h2>
       <p></p>
     </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br><br>

<!--  End of Home page  -->

<!-- including the footer information -->
<% include Footer.ejs %>

</body>
</html>
