<!DOCTYPE html>
<html>
<head>
<title>Assessment Portal</title>
  	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

 	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/w3login.css">
</head>

<body>

<!-- ##################################### Opening Page of Student Assessment Portal ########################################## -->

<div class="w3-container w3-white w3-border">
	  <img src="images/logo3.jpg" class = "w3-margin-top w3-margin-bottom" align = "left"></img>
  <h2 align = "right"><br>CourseAid</h2>

</div>

<div class="w3-container w3-padding-64 w3-light-grey">

	<div class="w3-container w3-white w3-box-center">

		<h1 class="w3-ensize" align="center"><b>Welcome to  CourseAid</b></h1>

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span>Login</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
        <form role="form">
          <div class="form-group">
            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
            <input type="text" class="form-control" id="usrname" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="psw"><span class="glyphicon glyphicon-eye-close"></span> Password</label>
            <input type="password" class="form-control" id="psw" placeholder="Enter password">
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="" checked>Remember me</label>
          </div>
            <button type="submit" class="btn btn-success btn-block w3-theme-dark-blue"><span class="glyphicon glyphicon-off"></span> Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        <p class="w3-text-white">Forgot <a href="#">Password?</a></p>
      </div>
    </div>

	</div>
</div>



</body>
</html>
