<!DOCTYPE html>
<html ng-app="MyProfile">
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>

<!--  ############################# End of Header ###########################################-->


<!--  My Profile Tab in Students Portal-->
<div id="profile" class="tab-pane fade in active">


<div id="w">
<div id="content" class="clearfix w3-box-center">
  <div id="userphoto"><img src="images/avatar.png" alt="default avatar"></div>
  <h1>Users Profile</h1>
  <br><br>
  <br><br>
  <br>

  <section id="bio" ng-controller="MyProfileController as mypro">

    <p class="setting" ng-model="name"><span>Name </span> abcdefgh </p>

    <p class="setting" ng-model="id"><span>ID</span> 201301xxx</p>

    <p class="setting" ng-model="dob"><span>DOB</span> 29/02/1995</p>

    <p class="setting" ng-model="num"><span>Mobile Num </span> 987654321</p>

  </section>

</div><!-- @end #content -->
</div><!-- @end #w -->

<% include Footer.ejs %>
<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/app/MyProfileCtrl.js"></script>
</body>
</html>
