<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>

<!--  ############################# End of Header ###########################################-->


<!--  My Profile Tab in Students Portal-->
<div id="profile" class="tab-pane fade in active">


<div id="w">
<div id="content" class="clearfix w3-box-center">
  <div id="userphoto"><img src="images/avatar.png" alt="default avatar"></div>
  <h1>Professor's  Profile</h1>
  <br><br>
  <br><br>
  <br><br>
  <section id="bio">
    <p class="setting"><span>Name </span> abcdefgh </p>

    <p class="setting"><span>email id</span>xyz@abc.com</p>

    <p class="setting"><span>DOB</span>09/10/1970</p>

  </section>


</div><!-- @end #content -->
</div><!-- @end #w -->




  </div>
  <!-- End of Profile -->

<% include Footer.ejs %>

</body>
</html>
