<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include StudentNavbar.ejs %>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~saifee95/0.embed?share_key=nGnHZb3sXoRHq5lyRlRgJm"></iframe>
<% include Footer.ejs %>

</body>
</html>
