<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>

<div id="query" class="w3-box-center">
<div class="w3-accordion w3-light-grey">
  <button onclick="myFunction('reply')" class="w3-btn-block w3-left-align">*Display query here*</button>
  <div id="reply" class="w3-accordion-content w3-container">
  <br>
    <p> <textarea>Enter the reply to query....</textarea> </p>
    <input type="submit" value="Submit" class="col-md-1 text-center">
   </div>
</div>
</div>
<script>
function myFunction(id) {
    var x = document.getElementById(id);
     if (x.classList) {
         x.classList.toggle("w3-show");
     } else {
         // Fallback for IE9 and earlier
         if (x.className.indexOf("w3-show") == -1)
             x.className = x.className + " w3-show";
         else
             x.className = x.className.replace("w3-show", "");
     }
 }
 </script>

<% include Footer.ejs %>

</body>
</html>
