<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include StudentNavbar.ejs %>

<script>
var x = document.getElementById("StudentHome");
x.className = "active";
</script>

<div class="w3-box-home">
<div class="well"><h1 align="center">Welcome</h1>
</div>

</div>



<% include Footer.ejs %>

</body>
</html>
