<div class="w3-container w3-white w3-border">
        <img src="/images/logo.jpg" class = "w3-margin-top w3-margin-bottom" align = "left" style="height:75px;"></img>
      <h2 align = "right" style="font-family:'Comic Sans MS';"><br>CourseAid</h2>

    </div>

  <p style="border:5px solid black">
<!-- do it container fluid if navigation bar expand..-->
  <div class=" w3-theme-action">
  <ul class="nav nav-tabs nav-justified" >
     <li><a href="/Home"><span class="glyphicon glyphicon-home"></span> Home</a></li>

    <li><a href="/MyCourses/EL203/StudentList">Student List</a></li>
    <li><a href="/MyCourses/EL203/SetCriteria">Set Criteria</a></li>
    <li><a href="/MyCourses/EL203/UploadMarks">Upload Marks</a></li>
    <li><a href="/MyCourses/EL203/PerformanceStates">Performance States</a></li>
    <li><a href="/MyCourses/EL203/GenGrades">Gen Grades</a></li>
    <li><a href="/MyCourses/EL203/Broadcast">Broadcast</a></li>


    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-menu-hamburger"></span><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/ChangePass">Change Password</a></li>
        <li><a href="/Help">Help</a></li>
        <li><a href="/Logout">Log Out</a></li>
      </ul>
    </li>
</div>
