<!DOCTYPE html>
<html>
<head>
	<title>Course Home</title>
<% include Head.ejs %>
<!-- including the header information -->
</head>

<body>
<% include StudentNavbar.ejs %>
  <!-- including the navigation bar which appears after selecting the course -->


<!-- welcome page for course home -->

<div class="w3-box-home">
<div class="jumbotron"><h1 align="center">Welcome</h1>
</div>

</div>


<!-- including the footer information -->
<% include Footer.ejs %>

</body>
</html>
